---
http_interactions:
- request:
    method: post
    uri: https://www.formstack.com/api/v2/form/<SUBMISSION_DETAILS_FORM_ID>/field
    body:
      encoding: UTF-8
      string: field_type=embed
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Location:
      - https://www.formstack.com/api/v2/form/<SUBMISSION_DETAILS_FORM_ID>/field/28731004.json
    body:
      encoding: UTF-8
      string: '{"id":"28731004","label":"","hide_label":"0","description":null,"name":"","type":"embed","options":"","default":"","required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"14","section_text":"a"}'
  recorded_at: Fri, 14 Nov 2014 14:18:20 GMT
recorded_with: VCR 2.9.3
