---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<INACCESSIBLE_FORM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","error":"You do not have high enough permissions
        for this form."}'
  recorded_at: Wed, 05 Nov 2014 15:13:30 GMT
recorded_with: VCR 2.9.3
