---
http_interactions:
- request:
    method: post
    uri: https://www.formstack.com/api/v2/submission/.json
    body:
      encoding: UTF-8
      string: read=0&field_<SUBMISSION_DETAILS_ID>=test2014-11-14%2013%3A23%3A04%20%2B0100&field_<EDIT_SUBMISSION_FIELD_ID>[first]=test2014-11-14%2013%3A23%3A04%20%2B0100-first&field_<EDIT_SUBMISSION_FIELD_ID>[last]=test2014-11-14%2013%3A23%3A04%20%2B0100-last
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","error":"Creating a submission is not currently supported"}'
  recorded_at: Fri, 14 Nov 2014 12:23:05 GMT
- request:
    method: post
    uri: https://www.formstack.com/api/v2/submission/171821341.json
    body:
      encoding: UTF-8
      string: read=0&field_<EDIT_SUBMISSION_FIELD_ID>[first]=test2014-11-14%2013%3A35%3A52%20%2B0100-first&field_<EDIT_SUBMISSION_FIELD_ID>[last]=test2014-11-14%2013%3A35%3A52%20%2B0100-last
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","error":"Creating a submission is not currently supported"}'
  recorded_at: Fri, 14 Nov 2014 12:35:53 GMT
- request:
    method: put
    uri: https://www.formstack.com/api/v2/submission/171821341.json
    body:
      encoding: UTF-8
      string: read=0&field_<EDIT_SUBMISSION_FIELD_ID>[first]=test2014-11-14%2014%3A41%3A52%20%2B0100-first&field_<EDIT_SUBMISSION_FIELD_ID>[last]=test2014-11-14%2014%3A41%3A52%20%2B0100-last
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":"1","id":"171821341"}'
  recorded_at: Fri, 14 Nov 2014 13:41:52 GMT
- request:
    method: get
    uri: https://www.formstack.com/api/v2/submission/171821341.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"171821341","timestamp":"2014-11-13 13:43:25","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","form":"<SUBMISSION_DETAILS_FORM_ID>","latitude":null,"longitude":null,"data":[{"field":"<EDIT_SUBMISSION_FIELD_ID>","value":"first
        = test2014-11-14 14:41:52 +0100-first\nlast = test2014-11-14 14:41:52 +0100-last\n"}],"pretty_field_id":"28706107"}'
  recorded_at: Fri, 14 Nov 2014 13:41:53 GMT
[...]
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<SUBMISSION_DETAILS_FORM_ID>/submission.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[{"id":"171821388","timestamp":"2014-11-13 13:44:07","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171821406","timestamp":"2014-11-13
        13:44:21","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171822918","timestamp":"2014-11-13
        14:05:06","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171823092","timestamp":"2014-11-13
        14:07:17","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitu[...]
[...]
- request:
    method: get
    uri: https://www.formstack.com/api/v2/submission/171821388.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"171821388","timestamp":"2014-11-13 13:44:07","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","form":"<SUBMISSION_DETAILS_FORM_ID>","latitude":null,"longitude":null,"data":[{"field":"<EDIT_SUBMISSION_FIELD_ID>","value":"first
        = test2014-11-14 14:43:29 +0100-first\nlast = test2014-11-14 14:43:29 +0100-last\n"}],"pretty_field_id":"28706107"}'
  recorded_at: Fri, 14 Nov 2014 13:43:30 GMT
recorded_with: VCR 2.9.3
