---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<FORM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"<FORM_ID>","name":"Test Form","viewkey":"wV9lqDZbui","views":"0","created":"2014-11-10
        07:46:47","updated":"2014-11-13 07:26:39","deleted":"0","submissions":"0","submissions_unread":"0","submissions_today":0,"url":"https:\/\/www.formstack.com\/forms\/?<FORM_ID>-wV9lqDZbui","data_url":"","summary_url":"","rss_url":"","encrypted":false,"thumbnail_url":"https:\/\/s3.amazonaws.com\/files.formstack.com\/admin\/","submit_button_title":null,"inactive":false,"timezone":"Europe\/Paris","permissions":"full","folder":"Test
        Folder","javascript":"<script type=\"text\/javascript\" src=\"https:\/\/www.formstack.com\/forms\/js.php?<FORM_ID>-wV9lqDZbui-v3\"><\/script><noscript><a
        href=\"https:\/\/www.formstack.com\/forms\/?<FORM_ID>-wV9lqDZbui\" title=\"Online
        Form\">Online Form - Test Form<\/a><\/noscript><div style=\"text-align:right;
        font-size:x-small;\"><a href=\"http:\/\/www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,<FORM_ID>\"
        title=\"Contact Form Generator\">Contact Form Generator<\/a><\/div>","html":"<!DOCTYPE
        html>\n<html lang=\"\">\n<head>\n<title>Test Form<\/title>\n<meta charset=\"utf-8\"
        \/>\n<!--[if IE]>\n<link rel=\"stylesheet\" type=\"text\/css\" media=\"all\"
        href=\"https:\/\/www.formstack.com\/forms\/css\/3\/ie.css?20140508\" \/>\n<![endif]-->\n<!--[if
        IE 7]><link rel=\"stylesheet\" type=\"text\/css\" media=\"all\" href=\"https:\/\/www.formstack.com\/forms\/css\/3\/ie7.css\"
        \/><![endif]-->\n<!--[if IE 6]><link rel=\"stylesheet\" type=\"text\/css\"
        media=\"all\" href=\"https:\/\/www.formstack.com\/forms\/css\/3\/ie6fixes.css\"
        \/><![endif]-->\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"https:\/\/www.formstack.com\/forms\/css\/3\/reset.css?20140508\"
        \/>\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"https:\/\/www.formstack.com\/forms\/css\/3\/default.css?20141028\"
        \/>\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"https:\/\/www.formstack.com\/forms\/css\/3\/steel.css\"
        \/>\n<style type=\"text\/css\">\n<\/style>\n<\/head>\n<body class=\"fsBody\"
        id=\"fsLocal\">\n<form method=\"post\" novalidate enctype=\"multipart\/form-data\"
        action=\"https:\/\/www.formstack.com\/forms\/index.php\" class=\"fsForm fsSingleColumn
        fsMaxCol1\" id=\"fsForm<FORM_ID>\">\n<input type=\"hidden\" name=\"form\"
        value=\"<FORM_ID>\" \/>\n<input type=\"hidden\" name=\"viewkey\" value=\"wV9lqDZbui\"
        \/>\n<input type=\"hidden\" name=\"hidden_fields\" id=\"hidden_fields<FORM_ID>\"
        value=\"\" \/>\n<input type=\"hidden\" name=\"_submit\" value=\"1\" \/>\n<input
        type=\"hidden\" name=\"incomplete\" id=\"incomplete<FORM_ID>\" value=\"\"
        \/>\n<input type=\"hidden\" name=\"style_version\" value=\"3\" \/>\n<div role=\"alert\"
        id=\"required[...]
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<FORM_ID>/submission.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[],"total":0,"pages":0,"pretty_field_id":"28632401"}'
  recorded_at: Fri, 14 Nov 2014 14:44:30 GMT
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<SUBMISSION_DETAILS_FORM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"<SUBMISSION_DETAILS_FORM_ID>","name":"Test Submissions","viewkey":"rJmrbejQBL","views":"3","created":"2014-11-13
        07:42:59","updated":"2014-11-14 09:55:04","deleted":"0","submissions":"75","submissions_unread":"0","submissions_today":0,"last_submission_id":"171943139","last_submission_time":"2014-11-14
        04:51:14","url":"https:\/\/www.formstack.com\/forms\/?<SUBMISSION_DETAILS_FORM_ID>-rJmrbejQBL","data_url":"","summary_url":"","rss_url":"","encrypted":false,"thumbnail_url":"https:\/\/s3.amazonaws.com\/files.formstack.com\/admin\/","submit_button_title":null,"inactive":false,"timezone":"Europe\/Paris","permissions":"full","folder":"Test
        Folder","javascript":"<script type=\"text\/javascript\" src=\"https:\/\/www.formstack.com\/forms\/js.php?<SUBMISSION_DETAILS_FORM_ID>[...]
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<SUBMISSION_DETAILS_FORM_ID>/submission.json
    body:
      encoding: UTF-8
      string: page=1&per_page=25&sort=DESC
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[{"id":"171943139","timestamp":"2014-11-14 10:51:14","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171943131","timestamp":"2014-11-14
        10:51:03","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171943088","timestamp":"2014-11-14
        10:50:03","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171943075","timestamp":"2014-11-14
        10:49:50","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"<SUBMISSION_DETAILS_ID>","timestamp":"2014-11-14
        08:56:33","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171836337","timestamp":"2014-11-13
        16:06:12","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171835825","timestamp":"2014-11-13
        16:02:35","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},[...]
