---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<FORM_ID>/submission.json
    body:
      encoding: UTF-8
      string: page=1&per_page=1&sort=DESC
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[{"id":"172234315","timestamp":"2014-11-17 09:14:34","user_agent":"curl\/7.37.1","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"}],"total":"79","pages":79,"pretty_field_id":"28706107"}'
  recorded_at: Mon, 17 Nov 2014 09:42:16 GMT
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<FORM_ID>/submission.json
    body:
      encoding: UTF-8
      string: page=2&per_page=1&sort=DESC
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[{"id":"172234312","timestamp":"2014-11-17 09:14:27","user_agent":"curl\/7.37.1","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"}],"total":"79","pages":79,"pretty_field_id":"28706107"}'
  recorded_at: Mon, 17 Nov 2014 09:42:17 GMT
recorded_with: VCR 2.9.3
