---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<SUBMISSION_DETAILS_FORM_ID>/submission.json
    body:
      encoding: UTF-8
      string: page=1&per_page=100&sort=DESC&data=true
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[{"id":"171943139","timestamp":"2014-11-14 10:51:14","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1","data":{"<EDIT_SUBMISSION_FIELD_ID>":{"field":<EDIT_SUBMISSION_FIELD_ID>,"label":"Short
        Answer","type":"text","value":"short-answer-test"},"28706107":{"field":28706107,"label":"Name","type":"name","value":"first
        = first-test\nlast = last-test\n"},"28706112":{"field":28706112,"label":"Long
        Answer","type":"textarea","value":"this is a long answer field"}}},{"id":"171943131","timestamp":"2014-11-14
        10:51:03","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1","data":{"<EDIT_SUBMISSION_FIELD_ID>":{"field":<EDIT_SUBMISSION_FIELD_ID>,"[...]
