---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<SUBMISSION_DETAILS_FORM_ID>/submission.json
    body:
      encoding: UTF-8
      string: page=1&per_page=25&sort=DESC
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[{"id":"171943139","timestamp":"2014-11-14 10:51:14","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171943131","timestamp":"2014-11-14
        10:51:03","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171943088","timestamp":"2014-11-14
        10:50:03","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171943075","timestamp":"2014-11-14
        10:49:50","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"<SUBMISSION_DETAILS_ID>","timestamp":"2014-11-14
        08:56:33","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171836337","timestamp":"2014-11-13
        16:06:12","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},{"id":"171835825","timestamp":"2014-11-13
        16:02:35","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"},[...]
