---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<FORM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"<FORM_ID>","name":"Test Form","viewkey":"ex3qBur1AS","views":"4","created":"2014-09-17
        13:44:47","updated":"2014-11-05 09:37:02","deleted":"0","submissions":"0","submissions_unread":"0","submissions_today":0,"url":"http:\/\/www.formstack.com\/forms\/?<FORM_ID>-ex3qBur1AS","data_url":"","summary_url":"","rss_url":"","encrypted":false,"thumbnail_url":"https:\/\/s3.amazonaws.com\/files.formstack.com\/admin\/","submit_button_title":null,"inactive":false,"timezone":"US\/Eastern","permissions":"full","folder":"none","javascript":"<script
        type=\"text\/javascript\" src=\"http:\/\/www.formstack.com\/forms\/js.php?<FORM_ID>-ex3qBur1AS-v3\"><\/script><noscript><a
        href=\"http:\/\/www.formstack.com\/forms\/?<FORM_ID>-ex3qBur1AS\" title=\"Online
        Form\">Online Form - Test Form<\/a><\/noscript><div style=\"text-align:right;
        font-size:x-small;\"><a href=\"http:\/\/www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,<FORM_ID>\"
        title=\"HTML Form Generator\">HTML Form Generator<\/a><\/div>","html":"<!DOCTYPE
        html>\n<html lang=\"\">\n<head>\n<title>Test Form<\/title>\n<meta charset=\"utf-8\"
        \/>\n<!--[if IE]>\n<link rel=\"stylesheet\" type=\"text\/css\" media=\"all\"
        href=\"http:\/\/www.formstack.com\/forms\/css\/3\/ie.css?20140508\" \/>\n<![endif]-->\n<!--[if
        IE 7]><link rel=\"stylesheet\" type=\"text\/css\" media=\"all\" href=\"http:\/\/www.formstack.com\/forms\/css\/3\/ie7.css\"
        \/><![endif]-->\n<!--[if IE 6]><link rel=\"stylesheet\" type=\"text\/css\"
        media=\"all\" href=\"http:\/\/www.formstack.com\/forms\/css\/3\/ie6fixes.css\"
        \/><![endif]-->\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"http:\/\/www.formstack.com\/forms\/css\/3\/reset.css?20140508\"
        \/>\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"http:\/\/www.formstack.com\/forms\/css\/3\/default.css?20141028\"
        \/>\n<link rel=\"stylesheet\" type=\"text\/css\" href=\"http:\/\/www.formstack.com\/forms\/css\/3\/steel.css\"
        \/>\n<style type=\"text\/css\">\n<\/style>\n<\/head>\n<body class=\"fsBody\"
        id=\"fsLocal\">\n<form method=\"post\" novalidate enctype=\"multipart\/form-data\"
        action=\"http:\/\/www.formstack.com\/forms\/index.php\" class=\"fsForm fsSingleColumn
        fsMaxCol1\" id=\"fsForm<FORM_ID>\">\n<input type=\"hidden\" name=\"form\"
        value=\"<FORM_ID>\" \/>\n<input type=\"hidden\" name=\"viewkey\" value=\"ex3qBur1AS\"
        \/>\n<input type=\"hidden\" name=\"hidden_fields\" id=\"hidden_fields<FORM_ID>\"
        value=\"\" \/>\n<input type=\"hidden\" name=\"_submit\" value=\"1\" \/>\n<input
        type=\"hidden\" name=\"incomplete\" id=\"incomplete<FORM_ID>\" value=\"\"
        \/>\n<input type=\"hidden\" name=\"style_version\" value=\"3\" \/>\n<div role=\"alert\"
        id=\"required[...]
- request:
    method: post
    uri: https://www.formstack.com/api/v2/form/<FORM_ID>/copy
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"1867891","name":"Test Form - COPY 7","viewkey":"ex3qBur1AS","views":"0","created":"2014-11-05
        10:13:32","updated":"2014[...]
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<FORM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"<FORM_ID>","name":"Test Form","viewkey":"wV9lqDZbui","views":"0","created":"2014-11-10
        07:46:47","updated":"2014-11-13 07:26:39","deleted":"0","submissions":"0","submissions_unread":"0","submissions_today":0,"url":"https:\/\/leysinamericanschool.formstack.com\/forms\/untitled_form_1","data_url":"","summary_url":"","rss_url":"","encrypted":false,"thumbnail_url":"https:\/\/s3.amazonaws.com\/files.formstack.com\/admin\/","submit_button_title":null,"inactive":false,"timezone":"Europe\/Paris","permissions":"full","folder":"Test
        Folder","javascript":"<script type=\"text\/javascript\" src=\"https:\/\/leysinamericanschool.formstack.com\/forms\/js.php?<FORM_ID>-wV9lqDZbui-v3\"><\/script><noscript><a
        href=\"https:\/\/leysinamericanschool.formstack.com\/forms\/untitled_form_1\"
        title=\"Online Form\">Online Form - Test Form<\/a><\/noscript><div style=\"text-align:right;
        font-size:x-small;\"><a href=\"http:\/\/www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,<FORM_ID>\"
        title=\"Onlin[...]
[...]
